.sparsh-notification-wrapper .modal-inner-wrap{
  position: absolute;
  right: 20px;
  bottom: 50px;
  max-width: 550px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.sparsh-notification-wrapper .modal-footer{
  border: none !important;
  padding-top: 0px;
}
