<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sparsh_customordernumber>
            <general>
                <enable_customordernumber>0</enable_customordernumber>
            </general>
            <order>
                <enable_customordernumber_order>1</enable_customordernumber_order>
                <order_number_format>ORD-{dd}-{mm}-{yyyy}-{counter}</order_number_format>
                <order_counter_start_from>1</order_counter_start_from>
                <order_counter_increment_by>1</order_counter_increment_by>
                <order_counter_number_padding>4</order_counter_number_padding>
            </order>
            <invoice>
                <enable_customordernumber_invoice>1</enable_customordernumber_invoice>
                <invoice_same_as_order_number>1</invoice_same_as_order_number>
                <invoice_order_part>ORD</invoice_order_part>
                <invoice_part>INV</invoice_part>
                <invoice_number_format>INV-{dd}-{mm}-{yyyy}-{counter}</invoice_number_format>
                <invoice_counter_start_from>1</invoice_counter_start_from>
                <invoice_counter_increment_by>1</invoice_counter_increment_by>
                <invoice_counter_number_padding>4</invoice_counter_number_padding>
            </invoice>
            <shipment>
                <enable_customordernumber_shipment>1</enable_customordernumber_shipment>
                <shipment_same_as_order_number>1</shipment_same_as_order_number>
                <shipment_order_part>ORD</shipment_order_part>
                <shipment_part>SHI</shipment_part>
                <shipment_number_format>SHI-{dd}-{mm}-{yyyy}-{counter}</shipment_number_format>
                <shipment_counter_start_from>1</shipment_counter_start_from>
                <shipment_counter_increment_by>1</shipment_counter_increment_by>
                <shipment_counter_number_padding>4</shipment_counter_number_padding>
            </shipment>
            <creditmemo>
                <enable_customordernumber_creditmemo>1</enable_customordernumber_creditmemo>
                <creditmemo_same_as_order_number>1</creditmemo_same_as_order_number>
                <creditmemo_order_part>ORD</creditmemo_order_part>
                <creditmemo_part>CRE</creditmemo_part>
                <creditmemo_number_format>CRE-{dd}-{mm}-{yyyy}-{counter}</creditmemo_number_format>
                <creditmemo_counter_start_from>1</creditmemo_counter_start_from>
                <creditmemo_counter_increment_by>1</creditmemo_counter_increment_by>
                <creditmemo_counter_number_padding>4</creditmemo_counter_number_padding>
            </creditmemo>
        </sparsh_customordernumber>
    </default>
</config>
