<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order">
        <plugin name="sparsh_custom_order_number_after_place_order_configuration_plugin" type="Sparsh\CustomOrderNumber\Plugin\Sales\Model\Order"/>
    </type>
</config>
