<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Sparsh_PushNotification::push_notification" title="Sparsh Push Notification" sortOrder="51">
                    <resource id="Sparsh_PushNotification::post" title="Manage Templates" sortOrder="10"/>
                    <resource id="Sparsh_PushNotification::tokens" title="Device Tokens" sortOrder="20"/>
                    <resource id="Sparsh_PushNotification::push_notification_configuration" title="Configuration" sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
