<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sparsh_banner>
            <general>
                <enable>1</enable>
            </general>
            <advance>
                <auto_rotation>1</auto_rotation>
                <auto_rotation_speed>5000</auto_rotation_speed>
            </advance>
        </sparsh_banner>
    </default>
</config>
