<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Sparsh_PushNotification::push_notification"
            title="Sparsh Push Notifications"
            module="Sparsh_PushNotification"
            sortOrder="50"
            resource="Sparsh_PushNotification::push_notification"
            dependsOnConfig="push_notification/general/enable"
        />
		<add
            id="Sparsh_PushNotification::post"
            title="Manage Templates"
            module="Sparsh_PushNotification"
            sortOrder="10"
            resource="Sparsh_PushNotification::post"
            action="sparsh_push_notification/post"
            parent="Sparsh_PushNotification::push_notification"
            dependsOnConfig="push_notification/general/enable"
        />
		<add
            id="Sparsh_PushNotification::tokens"
            title="Device Tokens"
            module="Sparsh_PushNotification"
            sortOrder="20"
            resource="Sparsh_PushNotification::tokens"
            action="sparsh_push_notification/tokens"
            parent="Sparsh_PushNotification::push_notification"
            dependsOnConfig="push_notification/general/enable"
        />
		 <add
             id="Sparsh_PushNotification::push_notification_configuration"
             title="Configuration"
             module="Sparsh_PushNotification"
             sortOrder="30"
             resource="Sparsh_PushNotification::push_notification_configuration"
             action="adminhtml/system_config/edit/section/push_notification"
             parent="Sparsh_PushNotification::push_notification"
             dependsOnConfig="push_notification/general/enable"
         />
    </menu>
</config>
