<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sparsh" translate="label" sortOrder="500">
            <label>Sparsh Extensions</label>
        </tab>
        <section id="push_notification" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Push Notification</label>
            <tab>sparsh</tab>
            <resource>Sparsh_PushNotification::push_notification_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Push Notification?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="apikey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Api Key</label>
                </field>
				<field id="authdomain" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Auth Domain</label>
                </field>
				<field id="databaseurl" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Database URL</label>
                </field>
				<field id="projectid" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Project ID</label>
                </field>
				<field id="storagebucket" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Storage Bucket</label>
                </field>
				<field id="messagingsenderid" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Messaging Sender ID</label>
                </field>
                <field id="serverkey" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Server key</label>
                </field>
            </group>
            <group id="prompt" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Prompt (Subscription Pop-Up) Settings</label>
              <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Enabled</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>
              <field id="prompt_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Prompt Text</label>
              </field>
              <field id="show_delay" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Show delay (seconds)</label>
                 <comment>The time interval between a page load and the subscription pop-up appearance.</comment>
              </field>
              <field id="frequency" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Set the frequency of prompt display for the same customer</label>
                  <source_model>Sparsh\PushNotification\Model\Config\Source\Frequency</source_model>
                  <comment>Choose how frequently to show the prompt to those who haven't consented yet.</comment>
              </field>
              <field id="pages" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Show the prompt on all pages</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>
              <field id="page_url" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Pages to show the prompt on</label>
                 <comment>List of pages, where the prompt will show. Comma-separated.</comment>
                <depends>
                    <field id="push_notification/prompt/pages">0</field>
                </depends>
              </field>
            </group>
        </section>
    </system>
</config>
